.row{
    margin-top: 5px;
    background-color: #ECEEEF;
    height: 110px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nkMarginTop5{
    margin-top:5px;  
}

p{
    clear: both;
}

img{
    width: 30px;
}

.nkFav:hover{
    cursor: pointer;
}

#favLink:hover{
    text-decoration: underline;
}

#favLink{
    color: rgb(66,133,244);
}

.nkIcon{
    width: 30px;
    margin-left: 5px; 
    transition: .5s;
}

.nkIcon:hover{
    cursor: pointer;
    transform: scale(1.1);
}