<div class="row">
  <div class="col-12">
      <h5 style="display: inline;"><img src="./assets/s3.png"> nkSpotify</h5>
    <nk-signout-button class="float-right nkMarginTop5"></nk-signout-button>
    <p class="float-left">Nice to see you, <span *ngIf="userName !== null"><b>{{userName}}</b></span><span *ngIf="userName === null"><b>{{userId}}</b></span></p>
    <p class="float-left nkFav" routerLink="/favourites"><img class="nkIcon" src="./assets/star01.png"> <span id="favLink"><b>Favourites music</b></span></p>
  </div>
</div>
