#carouselExampleIndicators, img{
    height: 280px;
    width: 550px;
}

#carouselExampleIndicators{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float:right;
}

hr{
    border-bottom: .5px solid red;  
}

.nkJumbotron{
    opacity: .97;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

