<div class="row">
  <div class="col-12">
    <h6>You recently played:</h6>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let track of nkDataToRender">
        <div>
        <h6><span class="artistName" [routerLink]="['/artist', track.track.artists[0].id]">{{track.track.artists[0].name}}</span> <span class="nkNormal">- {{track.track.name}}</span></h6>
      </div>
        <audio *ngIf="track.track && track.track.preview_url" controls>
            <source [src]="track.track.preview_url">
          </audio>
          <img class="float-right" *ngIf="favPlaylist && isInFavPlaylist(track.track.id, favPlaylist)" title="Add to favourites" src="./assets/star01.png">
          <img class="float-right" *ngIf="favPlaylist && !isInFavPlaylist(track.track.id, favPlaylist)" title="Remove from favourites" src="./assets/star02.png">
      </li>
    </ul>
  </div>
</div>