.artistName:hover{
    text-decoration: underline;
    cursor: pointer;
    color: rgb(66,133,244);
}

.artistName{
    color: rgb(66,133,244);  
}

img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    transition: .5s;
}

img:hover{
    transform: scale(1.1);
}